@import 'base/variables';
@import 'partials/common';

html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
}



.container {
    max-width: 1280px;
    width: 100%;
    display: block;
    padding: 10px 20px;

    &__wrapper {
        width: 100%;
        background-color: aqua;
        display: flex;
        justify-content: center;
    }

    &--centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__main {
        background-color: green;
    }
}