@import 'base/variables';
@import 'partials/common';

html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
}



.container {
    max-width: 1280px;
    width: 100%;
    display: block;
    padding: 10px 20px;

    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: $primary-pale;
        display: block;
    }

    &--centered {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__main {
        background-color: $primary-pale;
    }

    &--width-500-px {
        width: 500px;
    }
}