<div *ngIf="task">
    <div class="task-attribute">
        <span>{{ 'Name' }}: </span>
        <span>{{ task.name }}</span>
    </div>

    <div class="task-attribute">
        <span>{{ 'Description' }}: </span>
        <span>{{ task.description }}</span>
    </div>

    <div class="task-attribute">
        <span>{{ 'Created at' }}: </span>
        <span>{{ task.created_at | date:'hh:mm dd-MM-yy' }}</span>
    </div>

    <div class="task-attribute">
        <span>{{ 'Completed' }}: </span>
        <span>{{ task.completed ? 'Yes' : 'No' }}</span>
    </div>
</div>
