.container__wrapper__navigation {
    display: flex;
    justify-content: center;
    background-color: var(--light-brown);
}

.container__wrapper__main {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-between;

    &__left-side, &__right-side {

        a:hover {
            cursor: pointer;
            color: var(--strong-red);
        }
        
        a {
            color: var(--primary-red);
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 15px;
            }

        }
    }
}