@import '../../../../../styles/scss/base/variables';

.container__wrapper__navigation {
    background-color: $light-brown;
}

.navigation {
    display: flex;
    justify-content: space-between;

    &__left-side, &__right-side {
        
        a {
            color: $primary-red;
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}