.forms {
    display: grid;
    padding: 10px;
    background-color: var(--light-brown);
    
    .mat-form-field {
        display: block;
    }

    &--width-500-px {
        width: 500px;
    }

    &--border-radius {
        border-radius: 5px;
    }

    &__checkbox {
        padding-bottom: 15px;
    }
}

.title {
    text-align: center;
    color: var(--primary-red);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;

    div {
        display: block;
    }

    button {
        padding: 5px 10px;
        color: var(--primary-red);
        border: 1px solid var(--primary-red);
        border-radius: 5px;
        &:not(:last-child) {
            margin-right: 5px;
        }

        &:hover:disabled {
            cursor: not-allowed;
        }
    }

    &--no-border {
        button {
            background-color: transparent;
            border: none;
            text-decoration: none;

            &--hover {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &--big {
        font-size: 20px;
    }
}

.table {
    .mat-row, 
    .mat-header-cell,
    .mat-header-row,
    .mat-cell
    {
        background-color: var(--primary-pale);
    }

    .mat-header-cell,
    .mat-header-row {
        background-color: var(--light-brown);
    }

    .mat-header-cell,
    .mat-cell {
        justify-content: center;
    }
}

.paginator {
    .mat-paginator-outer-container {
        background-color: var(--primary-pale);
    }
}