@import '../../../styles/scss/base/variables';

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }

    &.delete-button {
        mat-icon.mat-icon {
            color: red;
        }
    }

    &.edit-button, &.read-button {
        mat-icon.mat-icon {
            color: $primary-blue;
        }
    }
}