<div *ngIf="formLoaded">
    <form [formGroup]="theForm" class="form">

        <mat-form-field appearance="outline">
            <mat-label>{{ 'Name' }}</mat-label>
            <input
                matInput
                formControlName='name'
                type='text'
                placeholder='Task name'
            >

            <mat-hint *ngIf="isFieldControlInvalid('name')">
                {{ 'Name required' }}
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'Description' }}</mat-label>
            <input
                matInput
                formControlName='description'
                type='text'
                placeholder='Task description'
            >

            <mat-hint *ngIf="isFieldControlInvalid('description')">
                {{ 'Description required' }}
            </mat-hint>
        </mat-form-field>

        <ng-container *ngIf="task.subtasks">
            <ng-container *ngFor="let subtask of task.subtasks; let i = index" formArrayName="subtasks">
                <mat-form-field appearance="outline">
                    <mat-label>Subtask name</mat-label>
                    <input
                        matInput
                        type="text"
                        [formControlName]="i" 
                    >

                    <mat-hint *ngIf="isFieldArrayInvalid('subtasks', null, i)">
                        {{ 'Subtask required' }}
                    </mat-hint>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <div class="buttons">
            <button
            mat-raised-button
            (click)="addNewSubtask()"
            >
                Add new subtask
            </button>
            <button
                mat-raised-button
                (click)="onSubmit()"
                [disabled]='isSubmitDisabled()'
            >
                Create new task
            </button>
        </div>
    </form>
</div>